*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  color: #444;
}

.heading-secondary {
  font-size: 3.5rem;
  background-image: linear-gradient(to right bottom, #0096c7, #90e0ef);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 7rem;
}

.heading-secondary--white {
  font-size: 3.5rem;
  background-image: linear-gradient(to right bottom, #fff, #f7f7f7);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 7rem;
  transform: skewY(4deg);
}

.heading-tertiary {
  font-size: 1.5rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translate(-35%, -90%);
  }
  80% {
    opacity: 1;
    transform: translate(-55%, -90%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -90%);
  }
}
@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translate(-75%, -10%);
  }
  80% {
    opacity: 1;
    transform: translate(-45%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -10%);
  }
}
.btn--blue:link, .btn--blue:visited {
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(to right bottom, #90e0ef, #0096c7);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 2.5rem;
  padding: 1rem 3.2rem;
  margin-left: 3rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  position: relative;
}
.btn--blue::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  background-image: linear-gradient(to right bottom, #90e0ef, #0096c7);
  z-index: -1;
  transition: all 0.4s;
}
.btn--blue:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--blue:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--blue:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
}

.destinations {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 10rem 12.5rem;
}
.destinations__shape:hover .destinations__text {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.destinations__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.destinations__image {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  border-radius: 50rem;
  transition: all 0.4s;
  overflow: hidden;
}
.destinations__image:hover {
  transform: scale(1.15);
  filter: brightness(60%) blur(0.1rem);
}
.destinations__text {
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.destinations__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5rem 0;
}

.features {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 10rem 12.5rem;
}
.features__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features__card {
  background-color: #fff;
  display: inline-block;
  width: 25rem;
  padding: 5rem 2.5rem 4rem 2.5rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.features__card:hover {
  transform: translateY(-1.5rem) scale(1.05);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.05);
}
.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__icon {
  font-size: 4.5rem;
  background-image: linear-gradient(to right bottom, #90e0ef, #0096c7);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
  margin-bottom: 4rem;
}
.features__text {
  text-align: center;
  line-height: 1.7;
  color: #666;
}

.payments {
  padding: 12.5rem 0 0 0;
  background-color: #f7f7f7;
}
.payments__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.payments__image--1 {
  width: 7rem;
}
.payments__image--2 {
  width: 7rem;
}
.payments__image--3 {
  width: 9rem;
}
.payments__image--4 {
  width: 9rem;
}
.payments__image--5 {
  width: 5rem;
}
.payments__image--6 {
  width: 7rem;
}

#mainNav {
  position: relative;
  transition: transform 0.3s ease;
}
#mainNav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* hidden before it becomes sticky */
#mainNav.hidden {
  transform: translateY(-100%);
}

.nav {
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 12.5rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
}
.nav__underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #00bcd4;
  width: 0;
  left: 0;
  transition: transform 0.35s ease, width 0.35s ease;
}
.nav__icon {
  cursor: pointer;
  width: 12.5rem;
  display: inline-block;
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 3rem;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #444;
  padding-bottom: 0.5rem;
}
.nav__link.active {
  border-bottom: 2px solid #00b4d8;
}

.popular {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(144, 224, 239, 0.7), rgba(0, 150, 199, 0.7)), url(../img/Spain.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-4deg);
  margin-top: -5rem;
  padding: 7.5rem 12.5rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  backface-visibility: hidden;
}
.slider::after {
  content: "You can find the best";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #fff;
  animation-name: left-to-right;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.slides {
  backface-visibility: hidden;
}
.slides::after {
  content: "Tours with us";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #fff;
  animation-name: right-to-left;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  filter: brightness(40%);
}

.slide.active {
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.dot.active {
  background: white;
  transform: scale(1.2);
}

.up-nav {
  width: 100%;
  background-color: #00b4d8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 12.5rem;
}
.up-nav__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.up-nav__box:not(:last-child) {
  margin-right: 3.3rem;
}
.up-nav__icon {
  display: inline-block;
  padding-top: 0.4rem;
  font-size: 1.8rem;
  color: #000;
  color: #fff;
}
.up-nav__icon-fix {
  display: inline-block;
  padding-top: 0.7rem;
  font-size: 2.2rem;
  color: #000;
  color: #fff;
}
.up-nav__text {
  font-size: 1.1rem;
  font-weight: 300;
  color: #666;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
