@use "../utils/" as *;

.features {
  width: 100%;
  height: 100vh;
  background-color: $color-gray;
  padding: 10rem 12.5rem;

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card {
    background-color: $color-white;
    display: inline-block;
    width: 25rem;
    padding: 5rem 2.5rem 4rem 2.5rem;
    box-shadow: 0 2rem 2rem rgba($color-black, 0.1);
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.05);
      box-shadow: 0 2rem 2rem rgba($color-black, 0.05);
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    font-size: 4.5rem;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    margin-bottom: 4rem;
  }

  &__text {
    text-align: center;
    line-height: 1.7;
    color: $color-text-2;
  }
}

.payments {
  padding: 12.5rem 0 0 0;
  background-color: $color-gray;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__image {
    width: 8rem;
  }
}
