@use "../utils/" as *;

.footer {
  background-color: $color-black-2;
  width: 100%;

  &__box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    gap: 4rem;
    padding: 5rem 0 5rem 18rem;
  }

  &__box-2 {
    border-top: 1px solid $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-white;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid $color-blue-light;
    padding: 0 0 0.5rem 0;
  }

  &__list {
    list-style: none;
    line-height: 1.9;
  }

  &__list-b {
    list-style: none;
    line-height: 2.5;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.2rem;
      text-decoration: none;
      color: $color-text-2;
      display: block;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-gray;
      transform: translateX(0.8rem) scale(1.05);
    }
  }

  &__link-b {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-text-2;
      display: inline-block;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-gray;
    }
  }

  &__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__icon-2 {
    font-size: 2rem;
    margin-right: 1rem;
  }

  &__image {
    cursor: pointer;
    width: 15rem;
  }

  &__copy {
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: $color-white;
  }
}
