@use "../utils/" as *;

#mainNav {
  position: relative;
  transition: transform 0.3s ease;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* hidden before it becomes sticky */
#mainNav.hidden {
  transform: translateY(-100%);
}

.nav {
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 12.5rem;
  background-color: $color-white;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.08);
  transition: all 0.3s ease;

  &__icon {
    font-size: 2.5rem;
    font-weight: 200;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 300;
      color: $color-text;
    }
  }

  &__btn {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-white;
      background-color: $color-primary;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 300;
      border-radius: 2.5rem;
      padding: 1rem 3.2rem;
      margin-left: 3rem;
    }
  }
}
