@use "../utils/" as *;

.popular {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/Spain.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-4deg);
  margin-top: -5rem;
  padding: 7rem 12.5rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skewY(4deg);
  }

  &__card {
    width: 25rem;
    height: 35rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2rem 2rem rgba($color-black, 0.1);
    position: relative;

    &:hover .heading-secondary--white {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
    }

    .heading-secondary--white {
      font-size: 3rem;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 10%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
  }

  &__card--img-1 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.3),
        rgba($color-primary, 0.3)
      ),
      url(../img/japan.webp);
    width: 100%;
    height: 15rem;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    overflow: hidden;
  }

  &__card--img-2 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.3),
        rgba($color-primary, 0.3)
      ),
      url(../img/Gilan-2.jpg);
    width: 100%;
    height: 15rem;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    overflow: hidden;
  }

  &__card--img-3 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.3),
        rgba($color-primary, 0.3)
      ),
      url(../img/Paris.jpg);
    width: 100%;
    height: 15rem;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    overflow: hidden;
  }

  &__card--img-4 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.3),
        rgba($color-primary, 0.3)
      ),
      url(../img/Tabriz.jpg);
    width: 100%;
    height: 15rem;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    overflow: hidden;
  }
}
