@use "../utils/" as *;
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 90%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 1rem;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s 0.2s;
  }

  &:target &__content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    display: inline-block;
    color: $color-primary;
    font-size: 2.5rem;
    transition: all 0.3s;

    &:hover {
      color: $color-primary-dark;
    }
  }
}
