@use "../utils/variables" as *;

//slider code

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slides {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}
