@use "../utils/" as *;

//slider code

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  backface-visibility: hidden;

  &::after {
    content: "You can find the best";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: $color-white;

    animation-name: left-to-right;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
}

.slides {
  backface-visibility: hidden;

  &::after {
    content: "Tours with us";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: $color-white;

    animation-name: right-to-left;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    filter: brightness(40%);
  }
}

.slide {
  &.active {
    opacity: 1;
  }
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &.active {
    background: white;
    transform: scale(1.2);
  }
}
