@use "../utils/variables" as *;

//slider code

.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slides {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}

.slide {
  &.active {
    opacity: 1;
  }
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  &.active {
    background: white;
    transform: scale(1.2);
  }
}
