@use "../utils/" as *;

.tours {
  width: 100%;
  height: auto;
  background-color: $color-gray;
  margin-top: -5rem;
  padding: 20rem 0;

  &__box-a {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 5rem 10rem 10rem;
    background-color: $color-gray;
  }

  &__box-b {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 15rem 10rem 0;
    background-color: $color-gray;
  }

  &__text-box {
    padding: 2.5rem 0 0 0;
  }

  &__heading {
    display: inline-block;

    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;

    &--spring {
      background-image: linear-gradient(
        to right bottom,
        $color-pink-light,
        $color-pink-dark
      );
      color: transparent;
      -webkit-background-clip: text;
    }

    &--summer {
      background-image: linear-gradient(
        to right bottom,
        $color-green-light,
        $color-green-dark
      );
      color: transparent;
      -webkit-background-clip: text;
    }

    &--fall {
      background-image: linear-gradient(
        to right bottom,
        $color-orange-light,
        $color-orange-dark
      );
      color: transparent;
      -webkit-background-clip: text;
    }

    &--winter {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      color: transparent;
      -webkit-background-clip: text;
    }
  }

  &__text {
    font-size: 1.2rem;
    width: 60rem;
    line-height: 1.9;
    color: $color-text-2;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__btn-box {
    margin-top: 4rem;
  }

  &__btn {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;

      padding: 1.5rem 4rem;
      border-radius: 5rem;
      transition: all 0.4s;
    }

    &--spring {
      color: $color-white;
      background-image: linear-gradient(
        to right bottom,
        $color-pink-light,
        $color-pink-dark
      );

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        background-image: linear-gradient(
          to right bottom,
          $color-pink-light,
          $color-pink-dark
        );
        z-index: -1;
        transition: all 0.4s;
      }
    }

    &--summer {
      color: $color-white;
      background-image: linear-gradient(
        to right bottom,
        $color-green-light,
        $color-green-dark
      );

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
        z-index: -1;
        transition: all 0.4s;
      }
    }

    &--fall {
      color: $color-white;
      background-image: linear-gradient(
        to right bottom,
        $color-orange-light,
        $color-orange-dark
      );

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        );
        z-index: -1;
        transition: all 0.4s;
      }
    }

    &--winter {
      color: $color-white;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
        z-index: -1;
        transition: all 0.4s;
      }
    }

    &:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
    }
  }

  &__image-box {
    display: inline-block;
  }

  &__image-1 {
    width: 40rem;
  }

  &__image-2 {
    width: 30rem;
  }

  &__image-4 {
    width: 42.5rem;
  }
}
