@use "../utils/" as *;

.tours {
  width: 100%;
  height: 100vh;
  background-color: $color-gray;
  margin-top: -5rem;
  padding: 20rem 0;

  &__box-a {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 5rem 10rem 10rem;
    background-color: $color-gray;
  }

  &__box-b {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 15rem 10rem 0;
    background-color: $color-gray;
  }

  &__text-box {
    padding: 2.5rem 0 0 0;
  }

  &__heading {
    display: inline-block;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    color: transparent;
    -webkit-background-clip: text;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    width: 60rem;
    margin-bottom: 4rem;
    line-height: 1.9;
    color: $color-text-2;
  }

  &__btn-box {
  }

  &__btn {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      color: $color-text;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      padding: 1rem 3rem;
      border-radius: 5rem;
    }
  }

  &__image-box {
    display: inline-block;
  }

  &__image-1 {
    width: 40rem;
  }

  &__image-2 {
    width: 30rem;
  }

  &__image-4 {
    width: 42.5rem;
  }
}
