@use "../utils/" as *;

.btn--green {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-white;
    background-color: $color-primary;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 2.5rem;
    padding: 1rem 3.2rem;
    margin-left: 3rem;
  }
}
