@use "../utils/" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  color: $color-text;
}

.heading-secondary {
  font-size: 3.5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 7rem;
}

.heading-secondary--white {
  font-size: 3.5rem;
  background-image: linear-gradient(to right bottom, $color-white, $color-gray);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 7rem;
  transform: skewY(4deg);
}

.heading-tertiary {
  font-size: 1.5rem;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}
