$color-white: #fff;
$color-gray: #f7f7f7;
$color-gray-2: #eee;
$color-text: #444;
$color-text-2: #666;
$color-black: #000;

$color-primary: #6a994e;
$color-primary-light: #a7c957;
$color-primary-dark: #386641;
