//COLORS
$color-white: #fff;
$color-gray: #f7f7f7;
$color-gray-2: #eee;
$color-text: #444;
$color-text-2: #666;
$color-black: #000;

$color-primary: #00b4d8;
$color-primary-light: #90e0ef;
$color-primary-dark: #0096c7;

//FONT-SIZES

$small-font-size: 5rem;
$mid-font-size: 7rem;
$big-font-size: 9rem;
