//COLORS
$color-white: #fff;
$color-gray: #f7f7f7;
$color-gray-2: #eee;
$color-text: #444;
$color-text-2: #666;
$color-black: #000;

$color-primary: #00b4d8;
$color-primary-light: #90e0ef;
$color-primary-dark: #0096c7;

$color-blue-light: #014f86;
$color-blue-dark: #012a4a;

$color-pink: #ffb3c6;
$color-pink-light: #ffe5ec;
$color-pink-dark: #fb6f92;

$color-green: #95d5b2;
$color-green-light: #d8f3dc;
$color-green-dark: #52b788;

$color-orange: #faa307;
$color-orange-light: #ffe7ac;
$color-orange-dark: #e85d04;

//FONT-SIZES

$small-font-size: 5rem;
$mid-font-size: 7rem;
$big-font-size: 9rem;
